<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Listings</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mx-auto p-4 sm:p-8 md:p-12">
        <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold mb-4">Rental Analytics</h1>
    
        <!-- New container for averages, min, and max -->
        <div class="border border-gray-200 rounded-lg p-4 mb-4 sm:p-6 md:p-8">
            <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold">Rental Statistics</h2>
            <p class="text-gray-700">Min Price Per SQFT: ${{ minPricePerSQFT }}</p>
            <p class="text-gray-700">Average Price Per SQFT: ${{ averagePricePerSQFT }}</p>
            <p class="text-gray-700">Max Price Per SQFT: ${{ maxPricePerSQFT }}</p>
        </div>
    </div>
    <div class="container mx-auto p-4">
        <form method="post" class="w-full max-w-xl mx-auto">
            {% csrf_token %}
            <div class="flex flex-col sm:flex-row items-center border-b border-teal-500 py-2">
                <label for="city" class="mr-3">City:</label>
                <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" id="city" name="city">
            </div>
            <div class="flex flex-col sm:flex-row items-center border-b border-teal-500 py-2">
                <label for="state" class="mr-3">State:</label>
                <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" id="state" name="state">
            </div>
            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Please correct the error below:</strong>
                    {{ form.errors }}
                </div>
            {% endif %}
            <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-black py-1 px-2 rounded" type="submit">Submit</button>
        </form>
    </div>
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-4">Rental Listings in {{city}}, {{state}}</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for property in properties %}
                <div class="border border-gray-200 rounded-lg p-4">
                    <h2 class="text-xl font-semibold">{{ property.address }}</h2>
                    <p class="text-gray-700">Price: ${{ property.price }}</p>
                    <p class="text-gray-700">Size: {{ property.size }} sqft</p>
                    <p class="text-gray-700">Price per Sqft: ${{ property.pricesqft }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
